<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="1048576"/>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagName="help" tagPrefix="uc1" src="~/userControl/help.ascx"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="Index.aspx"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <remove value="Index.asp"/>
        <remove value="Index.php3"/>
        <remove value="Index.php"/>
        <remove value="Index.stm"/>
        <remove value="Index.shtm"/>
        <remove value="Index.shtml"/>
        <remove value="Index.cfm"/>
        <remove value="Index.aspx"/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <!--<rewrite>
            <rules>
                <clear />
<rule name="Remove www" stopProcessing="true">
  <match url="(.*)" negate="false"></match>
  <conditions>
    <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
  </conditions>
  <action type="Redirect" url="https://{C:1}/{R:1}" appendQueryString="true" redirectType="Permanent" />
</rule>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>

            </rules>
        </rewrite>-->
    <!--<rewrite>
      <rules>
        <clear/>
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
        </rule>
        <rule name="RedirectWwwToNonWww" stopProcessing="false">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$"/>
          </conditions>
          <action type="Redirect" url="https://{C:2}{REQUEST_URI}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
</configuration>